<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <img src="/img/2.png" class="footer-flag">
                <p class="grey-text text-lighten-4">Official Website of the Republic of Mesabrook Government.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/groups/523962151824317">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Mesabrook is a <a href="http://clussmanproductions.com/">Clussman Productions</a> project.
        </div>
    </div>
</footer>