<nav>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src="/img/Mesabrook.png" class=""></a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down nav-item">
            <NavList></NavList>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-nav">
    <NavList></NavList>
</ul>

<script>
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
    $('NavList').load('/template/navlist.html', function() {
        $(this).children(':first').unwrap();
    });
</script>